body {
    background: #FFF0F5;
}
h1 {
    text-align: center;
    color: #a58458;
}
p{
   text-align: center;
   color: #363636;
}
em, strong {
    color: #87CEEB;
}
h2 {
    text-align: center;
    color: #a81d16;
}